---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar/Navbar";

const cards = [
  {
    title: "Body Zone",
    body: "Sweetest Day on October 17th, where you can get that special arrangement for your sweetie or any loved one. They are the original producers of the “Rainbow Roses” also many other items, placements and memorabilia to make a special occasion even more special.",
    phone: "123-456-7890",
    link: "https://www.google.com",
    date: "2021-01-01",
  },
  {
    title: "Card 2",
    body: "This is the second card",
    phone: "123-456-7890",
    link: "https://www.google.com",
    date: "2021-01-01",
  },
  {
    title: "Card 3",
    body: "This is the third card",
    phone: "123-456-7890",
    link: "https://www.google.com",
    date: "2021-01-01",
  },
];
---

<Layout title="METRA Magazine">
  <Navbar />
  <main class="container mx-auto">
    <p></p>
    <hr />
    <section>
      <div class="flex"></div>
    </section>
  </main>
</Layout>
