---
import Layout from "../layouts/Layout.astro";
import LandingMenu from "../components/LandingMenu/LandingMenu";

export interface Props {
  links: {
    title: string;
    href: string;
    color: string;
    image: string;
    active: boolean;
  };
}

const {
  links = {
    Home: "/",
    About: "/about",
    Contact: "/contact",
  },
} = Astro.props;
---

<Layout title="METRA Magazine">
  <main>
    <div
      class="z-100 h-screen w-full left-0 top-0 fixed bg-black bg-[radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4066001400560224) 35%, rgba(0,212,255,0) 100%)]"
    >
    </div>
    <div class="fixed text-white text-8xl font-metra left-5 top-5">METRA</div>
    <LandingMenu />
    <div class="fixed text-white text-lg bottom-3 right-3">
      © 2022 Metra Magazine
    </div>
  </main>
</Layout>
