---
export interface Props {
  title: string;
  body: string;
  phone: string;
  link: string;
  date: string;
}

const { href, title, body } = Astro.props;
---

<article>
  <header>Body Zone</header>
  <div class="flex">
    <div>313-389-5900</div>
    <div>Allen Park</div>
  </div>
  <p></p>
</article>
